@model DiscogymPUMA2020.Models.Class.User
@{
    ViewData["Title"] = "Settings";
}

<section title="Konto">
    <p>Username: <span>@Model.Name</span></p>
</section>

<a asp-action="Logout"><p>Logout</p></a>