@model IEnumerable<DiscogymPUMA2020.Models.Helpers.DayAndDate>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div>
        <span><a href="https://www.youtube.com/">Måndag</a></span>
        <span><a href="">Tisdag</a></span>
        <span><a href="">Onsdag</a></span>
        <span><a href="">Torsdag</a></span>
        <span><a href="">Fredag</a></span>
        <span><a href="">Lördag</a></span>
        <span><a href="">Söndag</a></span>
    </div>
</div>

<!--<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>    
</div>-->

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Datum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WeekdayLetter)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Datum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WeekdayLetter)
            </td>
        </tr>
        }
    </tbody>
</table>